@import "tailwindcss";
@variant dark (&:is(.dark *));

:root {
  color-scheme: light only;
  --color-primary: #F97316;
  --color-navy: #1B3A6B;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #111111;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
